module.exports = {
  hot: true,
  "entry": ["whatwg-fetch", "babel-polyfill", "./app/app.js"],

  "stats": {
      "colors": false,
      "modules": true,
      "reasons": true
  },

  "failOnError": true, 

  "resolve": {
    "extensions": ['.js', '.jsx', '.json']
  },

  "module": {
    "loaders": [
      {
        "test": /\.jsx?$/,
        "exclude": /node_modules/,
        "loaders": ["babel-loader"]
      }
    ]
  },
}
